.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 1.1px;
}

.App-header {
  padding: 40px;
  background: rgba(24, 24, 24, 0.856);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffd6ed;
  text-shadow: 0 0 2px rgb(0, 0, 0), 0 0 3px rgb(0, 0, 0);
  width: 100%;
}

.aloha {
  color: #f09;
  text-shadow: 0 0 22px rgb(0, 0, 0), 0 0 8px rgb(0, 0, 0), 0 0 3px #f09,
    0 0 21px rgb(0, 0, 0), 0 0 122px rgb(0, 0, 0), 0 0 3px rgb(0, 0, 0);
  font-family: "Damion", cursive;
  font-size: 34px;
  font-weight: 300;
  letter-spacing: normal;
}

.title {
  color: #f09;
  text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 3px #f09, 0 0 41px rgb(0, 0, 0),
    0 0 122px rgb(0, 0, 0), 0 0 3px rgb(0, 0, 0);
  font-family: "Lobster", cursive;
  text-align: center;
  font-weight: 800;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 30px;
  line-height: 1.5;
  font-size: 60px;
  letter-spacing: normal;
}

.bodytitle {
  font-size: 11px;
  font-style: italic;
  font-weight: 500;
  color: #ffd6ed;
  text-shadow: 0 0 1px rgb(0, 0, 0), 0 0 1px rgb(0, 0, 0), 0 0 3px rgb(0, 0, 0);

  margin-bottom: 22px;
  letter-spacing: 1px;
}

.address {
  margin-top: 1px;
  margin-bottom: 32px;
}

.details {
  margin-top: 0px;
  margin-inline: 80px;
  line-height: 20px;
  font-size: 13px;
  font-style: italic;
}

.theme {
  font-weight: 200;
  margin-top: 14px;
  margin-bottom: 32px;
  letter-spacing: normal;
  font-style: normal;
  color: #f09;
  text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0), 0 0 28px rgb(0, 0, 0),
    0 0 3px #f09, 0 0 21px rgb(0, 0, 0), 0 0 122px rgb(0, 0, 0),
    0 0 3px rgb(0, 0, 0);

  font-family: "Damion", cursive;
  font-size: 30px;
}

a {
  text-decoration: none;
  font-weight: 500;
}
a:hover {
  font-weight: 800;
  color: #f09;
}

:any-link {
  text-decoration: none;
  color: #f09;
}

img {
  filter: invert(40%) sepia(100%) hue-rotate(-80deg) saturate(5);
}
