.App .timer {
    color: #f09;
    text-shadow:
    0 0 1px #f09,
        0 0 1px #f09,
        0 0 2px #f09,
        0 0 2px #fff;
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    width: 310px;

  }
  
  .col-4 {
    width: 25%;
    float: left;
  }
  
 .box {

    font-weight: 400;
    padding: 10px;
  }
  
  .col-4:last-child .box {
    border-right-color: transparent;
  }
  
  .App .box p {
    font-size: calc(16px + 2vmin);
    margin: 0;
  }
  
  